* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
    line-height: 1.6;
}

/* NAVBAR */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00eaff;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
}

.hero span {
    color: #00eaff;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00eaff;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: rgb(248, 241, 241);
}

/* SECTION STYLES */
section {
    padding: 80px 60px;
}

h2 {
    font-size: 32px;
    margin-bottom: 5px;
}
/* SKILLS */
.skill-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-box span {
    background: #1e1e1e;
    padding: 10px 20px;
    border-radius: 6px;
}

/* PROJECT CARDS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.project-card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00eaff30;
}

.project-card h3 {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 50px;
}
